.bg-primary {
    background-color: #d32f2f !important;
}

.text-primary {
    color: #d32f2f !important;
}

.btn-primary {
    background-color: #009688 !important;
    border-color: #009688 !important;
}

.btn-primary:hover {
    background-color: #00796b !important;
    border-color: #00796b !important;
}

.page-item.active .page-link {
    background-color: #d32f2f;
    border-color: #d32f2f;
}
